tmp/*
log/*
.byebug_history
.drone.yml
.git
.gitignore
.dockerignore
.github
.scannerwork
coverage
.idea
public/packs
#config/ssl
config/credentials/production.key
db/development.sqlite3
db/test.sqlite3
