%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l Check a vehicle's Clean Air Zone compliance
      %p Use this service to check if a specific vehicle will incur a charge when it drives through a charging Clean Air Zone.
      %p You'll need to know the registration of the vehicle you wish to check.
      = link_to 'Start now', enter_details_vehicle_checkers_path, 'data-role' => 'button', 'data-draggable' => false, class: 'govuk-button govuk-button--start'
      %h2.govuk-heading-m More information
      %p
        There are
        = @caz_count
        charging Clean Air Zones in England, each with their own emissions standards, charges, discounts and exemptions.
      %h2.govuk-heading-m Related content
      %p
        %a{href: '#'} Pay a CAZ charge
      %h2.govuk-heading-m Explore the topic
      %p
        %a{href: '#'} Clean Air Zones
