.govuk-radios.govuk-radios--inline
  .govuk-radios__item
    %input#registration-country-1.govuk-radios__input{name: 'registration-country',
                                                      type: 'radio',
                                                      value: 'UK',
                                                      checked: params['registration-country'] == 'UK'}
    %label.govuk-label.govuk-radios__label{for: 'registration-country-1'}
      UK
  .govuk-radios__item
    %input#registration-country-2.govuk-radios__input{name: 'registration-country',
                                                      type: 'radio',
                                                      value: 'Non-UK',
                                                      checked: params['registration-country'] == 'Non-UK'}
    %label.govuk-label.govuk-radios__label{for: 'registration-country-2'}
      Non-UK
