.govuk-form-group{class: 'govuk-form-group--error'}
  %span.govuk-label
    = I18n.t('labels.country')
  %span#country-error.govuk-error-message
    %span.govuk-visually-hidden Error:
    = I18n.t('vrn_form.country_missing')
  = render 'vehicle_checkers/country_input/common'
