$govuk-global-styles: true;
$govuk-assets-path: '/packs/media/';

@import "~govuk-frontend/all";

.not-found-title {
  background-color: lightgray;
  padding: 1em;
}

.govuk-panel--noncompliant {
  color: #ffffff;
  background: #b10e1e;
}
