$govuk-global-styles: true;
$govuk-assets-path: '/packs/media/';

@import "~govuk-frontend/govuk/all";

.not-found-title {
  background-color: govuk-colour($colour: 'light-grey');
  padding: 1em;
}

.govuk-panel--noncompliant {
  background: $govuk-error-colour;
  color: govuk-colour($colour: 'white');
}

html {
  background-color: govuk-colour($colour: 'light-grey');
}

a.caz_inline_link {
  display: inline-block;
}
