$govuk-global-styles: true;
$govuk-assets-path: '/packs/media/';
$moj-assets-path: '/application/assets';

@import '~govuk-frontend/govuk/all';
@import '~@ministryofjustice/frontend/moj/all';
@import 'related_components';
@import 'go_ultra_low_icon';
@import 'cookie_control';

.not-found-title {
  background-color: govuk-colour($colour: 'light-grey');
  padding: 1em;
}

.govuk-panel--noncompliant {
  background: $govuk-error-colour;
  color: govuk-colour($colour: 'white');
}

html {
  background-color: govuk-colour($colour: 'light-grey');
}

.caz-inline-link {
  display: inline-block;
}

.draft-label {
  margin-bottom: 30px;
}

.vrn-input {
  max-width: 20ex + 3ex;
  text-transform: uppercase;
}

.table-without-border {
  border-bottom: none;
}

@media (max-width: 40.0525em) {
  .scrollable-table {
    overflow: scroll;
    margin-bottom: 20px;
  }
}

@media print {
  .back-link {
    display: block;
  }
}
