$govuk-global-styles: true;
$govuk-assets-path: '/packs/media/';

@import "~govuk-frontend/all";

.not-found-title {
  background-color: govuk-colour('grey-3');
  padding: 1em;
}

.govuk-panel--noncompliant {
  background: $govuk-error-colour;
  color: govuk-colour('white');
}
