- content_for(:title, 'Sorry, there is a problem with the service')

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        Sorry, there is a problem with the service
      %p Try again later.
