- content_for(:title, 'Page not found')

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl Page not found
      %p If you typed the web address, check it is correct.
      %p If you pasted the web address, check you copied the entire address.
