- content_for(:title, 'Sorry, the service is unavailable')

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl Sorry, the service is unavailable
      %p Try again later.
