.govuk-form-group#confirm_details_radios
  .govuk-radios.govuk-radios--inline
    .govuk-radios__item
      %input#confirm_details-1.govuk-radios__input{name: 'confirm_details', type: 'radio', value: 'yes'}
      %label.govuk-label.govuk-radios__label{for: "confirm_details-1"}
        Yes
    .govuk-radios__item
      %input#confirm_details-2.govuk-radios__input{name: 'confirm_details', type: 'radio', value: 'no'}
      %label.govuk-label.govuk-radios__label{for: "confirm_details-2"}
        No

.govuk-form-group#taxi_or_phv_radios
  %p
    Is your vehicle a taxi or private hire vehicle (PHV)?
  .govuk-radios.govuk-radios--inline
    .govuk-radios__item
      %input#confirm_taxi_or_phv-1.govuk-radios__input{name: 'confirm_taxi_or_phv', type: 'radio', value: 'true'}
      %label.govuk-label.govuk-radios__label{for: 'confirm_taxi_or_phv-1'}
        Yes
    .govuk-radios__item
      %input#confirm_taxi_or_phv-2.govuk-radios__input{name: 'confirm_taxi_or_phv', type: 'radio', value: 'false'}
      %label.govuk-label.govuk-radios__label{for: 'confirm_taxi_or_phv-2'}
        No
