%h2.govuk-heading-m Cookies used to identify you when you come back to the service
%p We use authentication cookies to identify you when you return to the service.
%table.govuk-table
  = render 'table_head'
  %tbody.govuk-table__body
    %tr.govuk-table__row
      %th.govuk-table__header{scope: 'row'} lang
      %td.govuk-table__cell Identifies your prefered language
      %td.govuk-table__cell When you close your browser
