%h2.govuk-heading-m Cookies used to make the service more secure
%p
  We set cookies which prevent attackers from modifying the contents of the other cookies we set.
  This makes the service more secure and protects your personal information.
%table.govuk-table
  = render 'table_head'
  %tbody.govuk-table__body
    %tr.govuk-table__row
      %th.govuk-table__header{scope: 'row'} _csrf
      %td.govuk-table__cell Helps protect against forgery
      %td.govuk-table__cell When you close your browser
    %tr.govuk-table__row
      %th.govuk-table__header{scope: 'row'} ARRAfinnity
      %td.govuk-table__cell Protects your session from tampering
      %td.govuk-table__cell When you close your browser
    %tr.govuk-table__row
      %th.govuk-table__header{scope: 'row'} state
      %td.govuk-table__cell Identifies you to the service and secures your authentication
      %td.govuk-table__cell When you close your browser
