%h2.govuk-heading-m Cookies that let us know that you’ve seen our cookie message
%table.govuk-table
  = render 'table_head'
  %tbody.govuk-table__body
    %tr.govuk-table__row
      %th.govuk-table__header{scope: 'row'} seen_cookie_message
      %td.govuk-table__cell Lets us know that you’ve seen our cookie message
      %td.govuk-table__cell 1 year
