%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      - if alert
        %h1.govuk-heading-l
          Contact form was not sent
      - else
        %h1.govuk-heading-l
          Contact form was sent
