.govuk-form-group{class: 'govuk-form-group--error'}
  %label#vrn-label.govuk-label{for: 'vrn'}
    = I18n.t('labels.vrn')
  %span#vrn-error.govuk-error-message
    %span.govuk-visually-hidden Error:
    = message
  %input#vrn.govuk-input.govuk-input--width-10{'aria-labelledby': 'vrn-label',
                                               'aria-describedby': 'vrn-error',
                                               name: 'vrn',
                                               type: 'text',
                                               class: 'govuk-input--error',
                                               style: 'text-transform: uppercase;',
                                               value: params[:vrn]}
