.govuk-form-group
  .govuk-checkboxes
    .govuk-checkboxes__item
      %input.govuk-checkboxes__input{name: 'confirm-taxi-or-phv',
                                     type: 'checkbox',
                                     value: 'yes',
                                     id: 'confirm-taxi-or-phv'}
      %label.govuk-label.govuk-checkboxes__label{for: 'confirm-taxi-or-phv'}
        I confirm this vehicle is a taxi or private hire vehicle.
