- content_for(:title, 'Check vehicle compliance')
= link_to 'Back', enter_details_vehicle_checkers_path, class: 'govuk-back-link'
%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l.not-found-title Unable to determine compliance
      %table.govuk-table
        %tbody.govuk-table__body
          %tr.govuk-table__row
            %td.govuk-table__cell{scope: 'row'}
            %td.govuk-table__cell
          %tr.govuk-table__row
            %td.govuk-table__cell{scope: 'row'} You searched for
            %th.govuk-table__cell= @vehicle_registration

      %p
        To equire about your vehicle's compliance please use our
        = link_to 'Contact Clean Air Zones', contact_forms_path, target: '_blank', id: 'contact-form'
        web form
