- content_for(:title, 'Check vehicle compliance')
= link_to 'Back', confirm_details_vehicle_checkers_path, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l.not-found-title Vehicle details are incomplete
      %table.govuk-table
        %tbody.govuk-table__body
          %tr.govuk-table__row
            %td.govuk-table__cell{scope: 'row'}
            %td.govuk-table__cell
          %tr.govuk-table__row
            %td.govuk-table__cell{scope: 'row'} You searched for
            %th.govuk-table__cell= @vehicle_registration

      %p
        Data used to calculate the compliance of your vehicle is missing from your V5C registration
        certificate (log book).
      %p
        You may be charged for driving in a Clean Air Zone when the zones start charging in summer 2020.
      %p
        If you want to discuss this matter further
        = link_to 'Contact Clean Air Zones', contact_forms_path, id: 'contact-form'

    = render 'common/check_another_vehicle'
