- content_for(:title, 'Check vehicle compliance')
= link_to 'Back', root_path, class: 'govuk-back-link'
%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l Enter the registration of the vehicle you wish to check
      %form{action: '/vehicle-checker/confirm'}
        .govuk-form-group
          %span#vrn-hint.govuk-hint
            For example, CU57ABC
          %input#vrn.govuk-input.govuk-input--width-10{name: 'vrn', type: 'text'}
        %br
        = link_to 'Continue', '', 'data-role' => 'button', class: 'govuk-button'
