= link_to 'Back', enter_details_vehicle_checkers_path, class: 'govuk-back-link'

%main#main-content.govuk-main-wrapper{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      .govuk-panel.govuk-panel--confirmation
        %h1.govuk-panel__title
          This vehicle is exempt from charges in all Clean Air Zones
      %br
      %p
        Vehicle registration
        = @vehicle_registration
        is exempt from all Clean Air Zone charges and there is no charge to drive it in any of the zones.
        The Ultra Low Emission Zone is London may have different exemption rules that you can check with
        = link_to('Transport for London', 'https://tfl.gov.uk/modes/driving/ultra-low-emission-zone/discounts-and-exemptions', target: '_blank', class: 'caz_inline_link')
        if you need to drive in London.
      %br
      = link_to('Check another vehicle', enter_details_vehicle_checkers_path, class: 'caz_inline_link')
