- content_for(:title, 'This vehicle is exempt from charges in all Clean Air Zones')
= back_link(enter_details_vehicle_checkers_path)

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      .govuk-panel.govuk-panel--confirmation
        %h1.govuk-panel__title#exemption-title
          This vehicle is exempt from charges in all Clean Air Zones
      %br
      %p
        Vehicle number plate
        = @vehicle_registration
        is exempt from all Clean Air Zone charges and there is no charge to drive it in any of the zones.
        The Ultra Low Emission Zone in London may have different exemption rules that you can check with
        = link_to('Transport for London',
                  'https://tfl.gov.uk/modes/driving/check-your-vehicle-35896',
                  class: 'caz-inline-link',
                  id: 'transport-for-london')
        if you need to drive in London.
      %p
        = link_to('Check another vehicle', enter_details_vehicle_checkers_path)
