- content_for(:title, 'Check vehicle compliance')
= link_to 'Back', confirm_details_vehicle_checkers_path, class: 'govuk-back-link'
%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l Incorrect vehicle details
      %p
        If your vehicle details are incorrect, you may need to
        = link_to 'update them', 'https://www.gov.uk/change-vehicle-details-registration-certificate',
          target: '_blank'
      %p
        = succeed '.' do
          If you would like to check the compliance of another vehicle,
          = link_to 'search again', enter_details_vehicle_checkers_path
