- content_for(:title, 'Incorrect vehicle details')
= link_to 'Back', confirm_details_vehicle_checkers_path, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l Incorrect vehicle details
      %p
        If your vehicle details are incorrect, you may need to
        = external_link_to('update them',
                           'https://www.gov.uk/change-vehicle-details-registration-certificate',
                           id: 'update-them-link')
      %p
        = succeed '.' do
          If you would like to check the compliance of another vehicle,
          = link_to 'search again', enter_details_vehicle_checkers_path, id: 'search_again_link'
