- content_for(:title, 'Incorrect vehicle details')
= link_to 'Back', confirm_details_vehicle_checkers_path, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l Incorrect vehicle details
      %p
        If your vehicle details are incorrect, you can
        = succeed '.' do
          = link_to('update them with the DVLA',
                    'https://www.gov.uk/change-vehicle-details-registration-certificate',
                    id: 'update-them-link')
      %p

      %p
        You still need to pay a charge if you have driven, or are planning to drive, in the zone.
      %p
      %p
        If your vehicle does meet emission standards, you can claim a refund
        when your registration details are updated.
      %p
      %p
        = link_to 'Check another vehicle', enter_details_vehicle_checkers_path, id: 'search_again_link'
      %p
