- content_for(:title, 'Check vehicle compliance')
= link_to 'Back', enter_details_vehicle_checkers_path, class: 'govuk-back-link'
%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l.not-found-title Vehicle is not registered in the UK
