- content_for(:title, 'Vehicle is registered outside of the UK')
= link_to 'Back', enter_details_vehicle_checkers_path, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l Vehicle is registered outside of the UK
      %p
        We only hold data on UK-registered vehicles.
      %p
        You can find out if your vehicle will be charged in the zone you want to drive in by checking the
        = external_link_to('emissions standards',
                           'https://www.gov.uk/guidance/driving-in-a-clean-air-zone',
                           id: 'emissions-standards-link')
        against your vehicle registration information.
      %p
        If your vehicle does not meet the standards you will need to pay a charge.
