- content_for(:title, 'Check vehicle compliance')
= link_to 'Back', enter_details_vehicle_checkers_path, class: 'govuk-back-link'
%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l Vehicle is registered outside of the UK
      %p
        Thank you for informing us that your vehicle is registered outside of the UK.
      %p
        If you would like to contact us to discuss the compliance of your vehicle please use this form to
        = link_to 'contact us', contact_forms_path, id: 'contact_us'
